@using GRSMU.Bot.Web.Core.Immutable
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GRSMU TimeTable Bot Panel</title>
    <link rel="stylesheet" href="~/dist/bundle.css" />
</head>
<body>
<main class="auth-main">
    <div class="container auth-container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Добро пожаловать!</h3>
                    <form asp-controller="Authentication" asp-action="Login" asp-route-returnurl="@ViewBag[ViewBagKeys.ReturnUrl]" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Имя пользователя" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Пароль" required />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">
                                Войти
                            </button>
                        </div>
                        <div class="form-group">
                        </div>
                    </form>
                    <p class="w-100 text-center">— Или войти через —</p>
                    <div class="social-login d-flex text-center">
                        <a href="#" class="px-2 py-2 mr-md-1 rounded">Telegram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    <script src="~/dist/bundle.js"></script>
</body>
</html>