<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GRSMU TimeTable Bot Panel</title>
    <link rel="stylesheet" href="~/dist/bundle.css"/>
</head>
<body>
@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bot panel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" >Пользователи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Notification" asp-action="Index">Рассылка</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
<div class="layout d-flex flex-nowrap">
        <div class="flex-shrink-0 p-3 bg-white shadow-sm" style="width: 280px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-5 fw-semibold">GRSMU Bot Panel</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Статистика
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Пользователи</a>
                        </li>
                        <li>
                            <a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Система</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#users-collapse" aria-expanded="false">
                    Пользователи
                </button>
                <div class="collapse" id="users-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a class="link-dark d-inline-flex text-decoration-none rounded" asp-area="" asp-controller="User" asp-action="Index">Поиск</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#notifications-collapse" aria-expanded="false">
                    Рассылка
                </button>
                <div class="collapse" id="notifications-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a class="link-dark d-inline-flex text-decoration-none rounded" asp-area="" asp-controller="Notification" asp-action="Index">Отправить</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>
<script src="~/dist/bundle.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>