<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GRSMU TimeTable Bot Panel</title>
    <link rel="stylesheet" href="~/dist/bundle.css"/>
</head>
<body>
<div class="layout">
    @await Html.PartialAsync("Partials/_Sidebar")
    <main role="main" class="pb-3 m-md-3">
        @RenderBody()
    </main>
</div>
<script src="~/dist/bundle.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>